.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}

@media screen and (max-width: 580px){
  .table {
    display: block;
  }

}
.row-header{
  display: table-row;
  background: #2980b9;
  font-weight: 900;
  color: #ffffff;
  padding: 8px 0;
}

.row-odd{
    display: table-row;
    background: #ffffff;
}

.row-even{
    display: table-row;
    background: #e9e9e9;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  padding: 2px 12px;
}